/*------------
reset  
--------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*------------
debug
--------------*/
.debug header{
    background-color:#add8e6;
    
}
.debug .header-top{
    background-color: #daa520;
    height: 40px;
    border: 3px dashed black;
}

.debug .main-nav {
    border: 2px dashed black;
    padding: 9px 300px;    
}

.debug .hero{
    height: 600px;
    background-color:#00008b;
}
.debug .pink-box{
    background-color: #ee82ee;
    height: 400px;
    width:1000px ;
    border: 2px dashed black;
}
.debug .row{
    height: 400px;
    
}
.debug .col-big{
    background-color:#1e90ff ;
    border: 2px dashed black;
}
.debug .col-small{
    background-color:#ffc0cb;
    border: 2px dashed black;
}
.debug .green-box{
    background-color:#228b22 ;
    height: 900px;
    border: 2px dashed black;
}
.debug footer{
    background-color: #23272a;
}
.debug .col-large{
    background-color: #f08080;
    border: 2px dashed black;
}
.debug .col-thin{
    background-color: #20b2aa;
    border: 1px dashed white;
}
.debug .footer-bottom{
    background-color: #7fffd4;
    height: 50px;
}
.debug .logo-2, .debug .bottone{
    background-color: #ffb6c1;
    border: 2px dashed black;
}

/*------------
common  
--------------*/
.container{
    max-width: 1200px;
    margin: auto;
    
}
.bt{
    border: none;
    display: inline;
    padding: 10px 20px;
    border-radius: 25px;
}
.container-small{
    max-width: 950px;
    margin: 200px auto;
}
ul{
    list-style: none;
}
/*------------
header  
--------------*/
body{
    font-family: 'Roboto', sans-serif;
}
header{
    padding: 16px 0;
    background-color: #255EE9;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-nav ul{
    
    display: flex;
    justify-content: center;
}
.main-nav ul li{
    margin: 0 20px;
}
.main-nav ul li a, .col-thin ul li a{
    text-decoration: none;
    color: #ffff;
}
    
h1{
    margin: 50px;
    font-weight: bold;
    font-size: 48px;
}
    
p{
    line-height: 30px;
}    
    
.header-top-bt{
    background-color:#ffff ;
   
}
    
.header-bottom-bt{
    background-color:#23272a ;
    
    color: white;
}
.hero{
    background-image: url(/img/jumbo.png);
    background-size: cover;
    height: 650px;
    color: white;
    text-align: center;
}
    
/*------------
main  
--------------*/
section{
    padding:40px 0;
}
.row-main{
    display: flex;
    
    align-items: center;
}

.col-big{
    width:60%;
}

.col-small{
    width: 20%;
    height: 350px;
    
}
h2{
    line-height: 40px;
    margin-bottom: 30px;
}
section:nth-child(2n){
    background-color: #F6F6F6;
}
.main-bottom{
    text-align: center;
    
}
.main-bt, .footer-bt{
    color: white;
    background-color: #7289DA;
}
.main-bottom-img{
    text-align: center;
}
.main-bottom-btn{
    text-align: center;
}
h4{
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 40px;
}
/*------------
Footer  
--------------*/
footer{
    background-color: #23272a;
}
.row-footer{
    display: flex;
    align-items: baseline;
    color:#7289DA ;
    
}
    
.col-large{
    width: 40%;
}
.col-thin{
    width: 30%;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #7289DA;
    
}
.bandierina{
    display: flex;
    color: white;
} 
#italy{
    width: 10%;
}
#icone-social{
    display: flex;
    color: white;
    
    
}
.social{
    margin-right: 15px;
}

h5{
    font-size: 16px;
}
.col-thin ul li {
    margin: 20px 0;
} 
